<configuration>
    <property scope="context" name="newLineReplaced" value=" ~~ " />
    <property scope="context" name="hardTabReplaceExec" value="false" />

    <appender name="LIST" class="ch.qos.logback.core.read.ListAppender">
        <conversionRule conversionWord="msg1" converterClass="com.github.roundrop.logging.logback.customizable.MessageConverter" />
        <encoder>
            <pattern>%msg1%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="LIST" />
    </root>
</configuration>